{
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
